.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.4);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.slide-enter {
  transform: translateX(-10%);
}

.slide-enter-active {
  transform: translateX(0%);
  transition: transform 200ms ease-in-out;
}

.slide-exit {
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
  transition: transform 1000ms ease-in-out;
}

.mr-auto {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
  background-color: #2b2d42;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  opacity: .8;
}

.shadow a:hover {
  color: #FFF !important;
}

.hidden {
  transform: translateY(-150%);
}

.fa-size {
  font-size: 20px;
}
